$background: #1a1b26;
$background-alt: #16161e;
$background-alt2: #1e202e;
$foreground: #a9b1d6;
$red: #f7768e;
$yellow: #e0af68;
$orange: #ff9e64;
$green: #9ece6a;
$blue: #7aa2f7;
$blue2: #88afff;
$magenta: #bb9af7;
$cyan: #73daca;
